body {
	font-family:Arial, Helvetica, sans-serif;	
}

.elessar-ui {
	margin-top:40px;
}
.elessar-handle {
  display: block;
  height: 100%;
  width: 5px;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
}
.elessar-handle:first-child {
  left: 0;
}
.elessar-handle:last-child {
  right: 0;
}
.elessar-vertical .elessar-handle {
  height: 5px;
  width: 100%;
  left: 0;
  right: 0;
  top: auto;
  bottom: auto;
  cursor: ns-resize;
}
.elessar-vertical .elessar-handle:first-child {
  top: 0;
}
.elessar-vertical .elessar-handle:last-child {
  bottom: 0;
}
.elessar-indicator {
  position: absolute;
  background: black;
  border-color: white;
  border-style: solid;
  border-width: 0 1px;
  width: 2px;
  height: 100%;
  z-index: 15;
  display:none;
}
.elessar-vertical .elessar-indicator {
  width: 100%;
  height: 2px;
}
.elessar-range {
  position: absolute;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:center;
  white-space: nowrap;
  height:90px;
  line-height:normal;
  width: 0;
  z-index: 10;
  background:#4D7AAC
}
.elessar-vertical .elessar-range {
  width: auto;
  height: 0;
}
.elessar-label {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-top:-20px;
  height:70px;
  line-height:12px
}
.elessar-readonly {
  opacity: 0.6;
  cursor: default !important;
}
.elessar-barlabel {
	color:#ffffff;
}
.elessar-phantom {
  background-color: transparent;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer !important;
}
.elessar-rangebar {
  position: relative;
  height: 90px;
  line-height: 90px;
  background: #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.elessar-delete-confirm {
  background: red;
}
body.elessar-resizing, body.elessar-dragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.elessar-resizing,
body.elessar-resizing .bar,
body.elessar-resizing .handle {
  cursor: ew-resize !important;
}
body.elessar-resizing.elessar-resizing-vertical,
body.elessar-resizing.elessar-resizing-vertical .bar,
body.elessar-resizing.elessar-resizing-vertical .handle {
  cursor: ns-resize !important;
}
body.elessar-dragging,
body.elessar-dragging .bar,
body.elessar-dragging .handle {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.range-select {
	position:absolute;
	top:5px;
	left:10px;
}
.open-range-options {
	position:relative;
	float:left;
	width:20px;
	height:20px;
	margin:5px -30px 0 10px;
	background-image:url(./icon_gear_white.png);
	background-repeat:no-repeat;
	cursor:default;
	z-index:999
}
.range-start {
	position:relative;
	float:left;
	margin-left:10px;
	margin-top:35px;
	z-index:3;
	font-size:12px;
	text-align:left;
}
.range-end {
	position:relative;
	float:right;
	margin-right:10px;
	margin-top:35px;
	z-index:3;
	font-size:12px;
	text-align:right;
}
.range-duration {
	position:absolute;
	bottom:3px;
	left:10px;
	font-size:13px;
	font-weight:bold;
}
.range-cost {
	position:absolute;
	bottom:3px;
	right:10px;
	font-size:13px;
	font-weight:bold;	
}
.range-options {
	position:absolute;
	width:300px;
	height:auto;
	border-radius:3px;
	box-shadow:0 0 14px #777;
	background:#fff;
	z-index:999;
	padding:20px;
}	