/* Useful formatting classes */

/* Author: Kirk Ross */

/*___________________________ MARGIN-TOP ______________________________*/

.mt0 { margin-top:0 !important }
.mt1 { margin-top:1px !important }
.mt2 { margin-top:2px !important }
.mt3 { margin-top:3px !important }
.mt4 { margin-top:4px !important }
.mt5 { margin-top:5px !important }
.mt6 { margin-top:6px !important }
.mt7 { margin-top:7px !important }
.mt8 { margin-top:8px !important }
.mt9 { margin-top:9px !important }
.mt10 { margin-top:10px !important }
.mt11 { margin-top:11px !important }
.mt12 { margin-top:12px !important }
.mt13 { margin-top:13px !important }
.mt14 { margin-top:14px !important }
.mt15 { margin-top:15px !important }
.mt16 { margin-top:16px !important }
.mt17 { margin-top:17px !important }
.mt18 { margin-top:18px !important }
.mt19 { margin-top:19px !important }
.mt20 { margin-top:20px !important }
.mt25 { margin-top:25px !important }
.mt30 { margin-top:30px !important }
.mt35 { margin-top:35px !important }
.mt40 { margin-top:40px !important }
.mt45 { margin-top:45px !important }
.mt50 { margin-top:50px !important }
.mt55 { margin-top:55px !important }
.mt60 { margin-top:60px !important }
.mt65 { margin-top:65px !important }
.mt70 { margin-top:70px !important }
.mt75 { margin-top:75px !important }
.mt80 { margin-top:80px !important }
.mt85 { margin-top:85px !important }
.mt90 { margin-top:90px !important }
.mt95 { margin-top:95px !important }
.mt100 { margin-top:100px !important }
.mt105 { margin-top:105px !important }
.mt110 { margin-top:110px !important }
.mt115 { margin-top:115px !important }
.mt120 { margin-top:120px !important }
.mt125 { margin-top:125px !important }
.mt130 { margin-top:130px !important }
.mt135 { margin-top:135px !important }
.mt140 { margin-top:140px !important }
.mt145 { margin-top:145px !important }
.mt150 { margin-top:150px !important }
.mt155 { margin-top:155px !important }
.mt160 { margin-top:160px !important }
.mt165 { margin-top:165px !important }
.mt170 { margin-top:170px !important }
.mt175 { margin-top:175px !important }
.mt180 { margin-top:180px !important }
.mt185 { margin-top:185px !important }
.mt190 { margin-top:190px !important }
.mt195 { margin-top:195px !important }
.mt200 { margin-top:200px !important }
/*___________________________ MARGIN-RIGHT ______________________________*/

.mr0 { margin-right:0 !important }
.mr1 { margin-right:1px !important }
.mr2 { margin-right:2px !important }
.mr3 { margin-right:3px !important }
.mr4 { margin-right:4px !important }
.mr5 { margin-right:5px !important }
.mr6 { margin-right:6px !important }
.mr7 { margin-right:7px !important }
.mr8 { margin-right:8px !important }
.mr9 { margin-right:9px !important }
.mr10 { margin-right:10px !important }
.mr11 { margin-right:11px !important }
.mr12 { margin-right:12px !important }
.mr13 { margin-right:13px !important }
.mr14 { margin-right:14px !important }
.mr15 { margin-right:15px !important }
.mr16 { margin-right:16px !important }
.mr17 { margin-right:17px !important }
.mr18 { margin-right:18px !important }
.mr19 { margin-right:19px !important }
.mr20 { margin-right:20px !important }
.mr25 { margin-right:25px !important }
.mr30 { margin-right:30px !important }
.mr35 { margin-right:35px !important }
.mr40 { margin-right:40px !important }
.mr45 { margin-right:45px !important }
.mr50 { margin-right:50px !important }
.mr55 { margin-right:55px !important }
.mr60 { margin-right:60px !important }
.mr65 { margin-right:65px !important }
.mr70 { margin-right:70px !important }
.mr75 { margin-right:75px !important }
.mr80 { margin-right:80px !important;}
.mr85 { margin-right:85px !important }
.mr90 { margin-right:90px !important }
.mr95 { margin-right:95px !important }
.mr100 { margin-right:100px !important }
.mr105 { margin-right:105px !important }
.mr110 { margin-right:110px !important }
.mr115 { margin-right:115px !important }
.mr120 { margin-right:120px !important }
.mr125 { margin-right:125px !important }
.mr130 { margin-right:130px !important }
.mr135 { margin-right:135px !important }
.mr140 { margin-right:140px !important }
.mr145 { margin-right:145px !important }
.mr150 { margin-right:150px !important }
.mr155 { margin-right:155px !important }
.mr160 { margin-right:160px !important }
.mr165 { margin-right:165px !important }
.mr170 { margin-right:170px !important }
.mr175 { margin-right:175px !important }
.mr180 { margin-right:180px !important }
.mr185 { margin-right:185px !important }
.mr190 { margin-right:190px !important }
.mr195 { margin-right:195px !important }
.mr200 { margin-right:200px !important }
/*___________________________ MARGIN-BOTTOM ______________________________*/

.mb0 { margin-bottom:0 !important }
.mb1 { margin-bottom:1px !important }
.mb2 { margin-bottom:2px !important }
.mb3 { margin-bottom:3px !important }
.mb4 { margin-bottom:4px !important }
.mb5 { margin-bottom:5px !important }
.mb6 { margin-bottom:6px !important }
.mb7 { margin-bottom:7px !important }
.mb8 { margin-bottom:8px !important }
.mb9 { margin-bottom:9px !important }
.mb10 { margin-bottom:10px !important }
.mb11 { margin-bottom:11px !important }
.mb12 { margin-bottom:12px !important }
.mb13 { margin-bottom:13px !important }
.mb14 { margin-bottom:14px !important }
.mb15 { margin-bottom:15px !important }
.mb16 { margin-bottom:16px !important }
.mb17 { margin-bottom:17px !important }
.mb18 { margin-bottom:18px !important }
.mb19 { margin-bottom:19px !important }
.mb20 { margin-bottom:20px !important }
.mb25 { margin-bottom:25px !important }
.mb30 { margin-bottom:30px !important }
.mb35 { margin-bottom:35px !important }
.mb40 { margin-bottom:40px !important }
.mb45 { margin-bottom:45px !important }
.mb50 { margin-bottom:50px !important }
.mb55 { margin-bottom:55px !important }
.mb60 { margin-bottom:60px !important }
.mb65 { margin-bottom:65px !important }
.mb70 { margin-bottom:70px !important }
.mb75 { margin-bottom:75px !important }
.mb80 { margin-bottom:80px !important }
.mb85 { margin-bottom:85px !important }
.mb90 { margin-bottom:90px !important }
.mb95 { margin-bottom:95px !important }
.mb100 { margin-bottom:100px !important }
.mb105 { margin-bottom:105px !important }
.mb110 { margin-bottom:110px !important }
.mb115 { margin-bottom:115px !important }
.mb120 { margin-bottom:120px !important }
.mb125 { margin-bottom:125px !important }
.mb130 { margin-bottom:130px !important }
.mb135 { margin-bottom:135px !important }
.mb140 { margin-bottom:140px !important }
.mb145 { margin-bottom:145px !important }
.mb150 { margin-bottom:150px !important }
.mb155 { margin-bottom:155px !important }
.mb160 { margin-bottom:160px !important }
.mb165 { margin-bottom:165px !important }
.mb170 { margin-bottom:170px !important }
.mb175 { margin-bottom:175px !important }
.mb180 { margin-bottom:180px !important }
.mb185 { margin-bottom:185px !important }
.mb190 { margin-bottom:190px !important }
.mb195 { margin-bottom:195px !important }
.mb200 { margin-bottom:200px !important }
/*___________________________ MARGIN-LEFT ______________________________*/

.ml0 { margin-left: 0 !important }
.ml1 { margin-left:1px !important }
.ml2 { margin-left:2px !important }
.ml3 { margin-left:3px !important }
.ml4 { margin-left:4px !important }
.ml5 { margin-left:5px !important }
.ml6 { margin-left:6px !important }
.ml7 { margin-left:7px !important }
.ml8 { margin-left:8px !important }
.ml9 { margin-left:9px !important }
.ml10 { margin-left:10px !important }
.ml11 { margin-left:11px !important }
.ml12 { margin-left:12px !important }
.ml13 { margin-left:13px !important }
.ml14 { margin-left:14px !important }
.ml15 { margin-left:15px !important }
.ml16 { margin-left:16px !important }
.ml17 { margin-left:17px !important }
.ml18 { margin-left:18px !important }
.ml19 { margin-left:19px !important }
.ml20 { margin-left:20px !important }
.ml25 { margin-left:25px !important }
.ml30 { margin-left:30px !important }
.ml35 { margin-left:35px !important }
.ml40 { margin-left:40px !important }
.ml45 { margin-left:45px !important }
.ml50 { margin-left:50px !important }
.ml55 { margin-left:55px !important }
.ml60 { margin-left:60px !important }
.ml65 { margin-left:65px !important }
.ml70 { margin-left:70px !important }
.ml75 { margin-left:75px !important }
.ml80 { margin-left:80px !important }
.ml85 { margin-left:85px !important }
.ml90 { margin-left:90px !important }
.ml95 { margin-left:95px !important }
.ml100 { margin-left:100px !important }
.ml105 { margin-left:105px !important }
.ml110 { margin-left:110px !important }
.ml115 { margin-left:115px !important }
.ml120 { margin-left:120px !important }
.ml125 { margin-left:125px !important }
.ml130 { margin-left:130px !important }
.ml135 { margin-left:135px !important }
.ml140 { margin-left:140px !important }
.ml145 { margin-left:145px !important }
.ml150 { margin-left:150px !important }
.ml155 { margin-left:155px !important }
.ml160 { margin-left:160px !important }
.ml165 { margin-left:165px !important }
.ml170 { margin-left:170px !important }
.ml175 { margin-left:175px !important }
.ml180 { margin-left:180px !important }
.ml185 { margin-left:185px !important }
.ml190 { margin-left:190px !important }
.ml195 { margin-left:195px !important }
.ml200 { margin-left:200px !important }
/*___________________________ MARGIN-ALL ______________________________*/

.ma0 { margin:0 !important }
.ma1 { margin:1px !important }
.ma2 { margin:2px !important }
.ma3 { margin:3px !important }
.ma4 { margin:4px !important }
.ma5 { margin:5px !important }
.ma6 { margin:6px !important }
.ma7 { margin:7px !important }
.ma8 { margin:8px !important }
.ma9 { margin:9px !important }
.ma10 { margin:10px !important }
.ma11 { margin:11px !important }
.ma12 { margin:12px !important }
.ma13 { margin:13px !important }
.ma14 { margin:14px !important }
.ma15 { margin:15px !important }
.ma16 { margin:16px !important }
.ma17 { margin:17px !important }
.ma18 { margin:18px !important }
.ma19 { margin:19px !important }
.ma20 { margin:20px !important }
.ma21 { margin:21px !important }
.ma22 { margin:22px !important }
.ma23 { margin:23px !important }
.ma24 { margin:24px !important }
.ma25 { margin:25px !important }
.ma26 { margin:26px !important }
.ma27 { margin:27px !important }
.ma28 { margin:28px !important }
.ma29 { margin:29px !important }
.ma30 { margin:30px !important }
.ma31 { margin:31px !important }
.ma32 { margin:32px !important }
.ma33 { margin:33px !important }
.ma34 { margin:34px !important }
.ma35 { margin:35px !important }
.ma36 { margin:36px !important }
.ma37 { margin:37px !important }
.ma38 { margin:38px !important }
.ma39 { margin:39px !important }
.ma40 { margin:40px !important }
.ma41 { margin:41px !important }
.ma42 { margin:42px !important }
.ma43 { margin:43px !important }
.ma44 { margin:44px !important }
.ma45 { margin:45px !important }
.ma46 { margin:46px !important }
.ma47 { margin:47px !important }
.ma48 { margin:48px !important }
.ma49 { margin:49px !important }
.ma50 { margin:50px !important }
.ma55 { margin:55px !important }
.ma60 { margin:60px !important }
.ma65 { margin:65px !important }
.ma70 { margin:70px !important }
.ma75 { margin:75px !important }
.ma80 { margin:80px !important }
.ma85 { margin:85px !important }
.ma90 { margin:90px !important }
.ma95 { margin:95px !important }
.ma100 { margin:100px !important }
.ma105 { margin:105px !important }
.ma110 { margin:110px !important }
.ma115 { margin:115px !important }
.ma120 { margin:120px !important }
.ma125 { margin:125px !important }
.ma130 { margin:130px !important }
.ma135 { margin:135px !important }
.ma140 { margin:140px !important }
.ma145 { margin:145px !important }
.ma150 { margin:150px !important }
.ma155 { margin:155px !important }
.ma160 { margin:160px !important }
.ma165 { margin:165px !important }
.ma170 { margin:170px !important }
.ma175 { margin:175px !important }
.ma180 { margin:180px !important }
.ma185 { margin:185px !important }
.ma190 { margin:190px !important }
.ma195 { margin:195px !important }
.ma200 { margin:200px !important }
/*___________________________ PADDING-TOP ______________________________*/

.pt0 { padding-top:0 !important }
.pt1 { padding-top:1px !important }
.pt2 { padding-top:2px !important }
.pt3 { padding-top:3px !important }
.pt4 { padding-top:4px !important }
.pt5 { padding-top:5px !important }
.pt6 { padding-top:6px !important }
.pt7 { padding-top:7px !important }
.pt8 { padding-top:8px !important }
.pt9 { padding-top:9px !important }
.pt10 { padding-top:10px !important }
.pt11 { padding-top:11px !important }
.pt12 { padding-top:12px !important }
.pt13 { padding-top:13px !important }
.pt14 { padding-top:14px !important }
.pt15 { padding-top:15px !important }
.pt16 { padding-top:16px !important }
.pt17 { padding-top:17px !important }
.pt18 { padding-top:18px !important }
.pt19 { padding-top:19px !important }
.pt20 { padding-top:20px !important }
.pt25 { padding-top:25px !important }
.pt30 { padding-top:30px !important }
.pt35 { padding-top:35px !important }
.pt40 { padding-top:40px !important }
.pt45 { padding-top:45px !important }
.pt50 { padding-top:50px !important }
.pt55 { padding-top:55px !important }
.pt60 { padding-top:60px !important }
.pt65 { padding-top:65px !important }
.pt70 { padding-top:70px !important }
.pt75 { padding-top:75px !important }
.pt80 { padding-top:80px !important }
.pt85 { padding-top:85px !important }
.pt90 { padding-top:90px !important }
.pt95 { padding-top:95px !important }
.pt100 { padding-top:100px !important }
.pt105 { padding-top:105px !important }
.pt110 { padding-top:110px !important }
.pt115 { padding-top:115px !important }
.pt120 { padding-top:120px !important }
.pt125 { padding-top:125px !important }
.pt130 { padding-top:130px !important }
.pt135 { padding-top:135px !important }
.pt140 { padding-top:140px !important }
.pt145 { padding-top:145px !important }
.pt150 { padding-top:150px !important }
.pt155 { padding-top:155px !important }
.pt160 { padding-top:160px !important }
.pt165 { padding-top:165px !important }
.pt170 { padding-top:170px !important }
.pt175 { padding-top:175px !important }
.pt180 { padding-top:180px !important }
.pt185 { padding-top:185px !important }
.pt190 { padding-top:190px !important }
.pt195 { padding-top:195px !important }
.pt200 { padding-top:200px !important }
/*___________________________ PADDING-RIGHT ______________________________*/

.pr0 { padding-right:0 !important }
.pr1 { padding-right:1px !important }
.pr2 { padding-right:2px !important }
.pr3 { padding-right:3px !important }
.pr4 { padding-right:4px !important }
.pr5 { padding-right:5px !important }
.pr6 { padding-right:6px !important }
.pr7 { padding-right:7px !important }
.pr8 { padding-right:8px !important }
.pr9 { padding-right:9px !important }
.pr10 { padding-right:10px !important }
.pr11 { padding-right:11px !important }
.pr12 { padding-right:12px !important }
.pr13 { padding-right:13px !important }
.pr14 { padding-right:14px !important }
.pr15 { padding-right:15px !important }
.pr16 { padding-right:16px !important }
.pr17 { padding-right:17px !important }
.pr18 { padding-right:18px !important }
.pr19 { padding-right:19px !important }
.pr20 { padding-right:20px !important }
.pr25 { padding-right:25px !important }
.pr30 { padding-right:30px !important }
.pr35 { padding-right:35px !important }
.pr40 { padding-right:40px !important }
.pr45 { padding-right:45px !important }
.pr50 { padding-right:50px !important }
.pr55 { padding-right:55px !important }
.pr60 { padding-right:60px !important }
.pr65 { padding-right:65px !important }
.pr70 { padding-right:70px !important }
.pr75 { padding-right:75px !important }
.pr80 { padding-right:80px !important }
.pr85 { padding-right:85px !important }
.pr90 { padding-right:90px !important }
.pr95 { padding-right:95px !important }
.pr100 { padding-right:100px !important }
.pr105 { padding-right:105px !important }
.pr110 { padding-right:110px !important }
.pr115 { padding-right:115px !important }
.pr120 { padding-right:120px !important }
.pr125 { padding-right:125px !important }
.pr130 { padding-right:130px !important }
.pr135 { padding-right:135px !important }
.pr140 { padding-right:140px !important }
.pr145 { padding-right:145px !important }
.pr150 { padding-right:150px !important }
.pr155 { padding-right:155px !important }
.pr160 { padding-right:160px !important }
.pr165 { padding-right:165px !important }
.pr170 { padding-right:170px !important }
.pr175 { padding-right:175px !important }
.pr180 { padding-right:180px !important }
.pr185 { padding-right:185px !important }
.pr190 { padding-right:190px !important }
.pr195 { padding-right:195px !important }
.pr200 { padding-right:200px !important }
/*___________________________ PADDING-BOTTOM ______________________________*/

.pb0 { padding-bottom:0 !important }
.pb1 { padding-bottom:1px !important }
.pb2 { padding-bottom:2px !important }
.pb3 { padding-bottom:3px !important }
.pb4 { padding-bottom:4px !important }
.pb5 { padding-bottom:5px !important }
.pb6 { padding-bottom:6px !important }
.pb7 { padding-bottom:7px !important }
.pb8 { padding-bottom:8px !important }
.pb9 { padding-bottom:9px !important }
.pb10 { padding-bottom:10px !important }
.pb11 { padding-bottom:11px !important }
.pb12 { padding-bottom:12px !important }
.pb13 { padding-bottom:13px !important }
.pb14 { padding-bottom:14px !important }
.pb15 { padding-bottom:15px !important }
.pb16 { padding-bottom:16px !important }
.pb17 { padding-bottom:17px !important }
.pb18 { padding-bottom:18px !important }
.pb19 { padding-bottom:19px !important }
.pb20 { padding-bottom:20px !important }
.pb25 { padding-bottom:25px !important }
.pb30 { padding-bottom:30px !important }
.pb35 { padding-bottom:35px !important }
.pb40 { padding-bottom:40px !important }
.pb45 { padding-bottom:45px !important }
.pb50 { padding-bottom:50px !important }
.pb55 { padding-bottom:55px !important }
.pb60 { padding-bottom:60px !important }
.pb65 { padding-bottom:65px !important }
.pb70 { padding-bottom:70px !important }
.pb75 { padding-bottom:75px !important }
.pb80 { padding-bottom:80px !important }
.pb85 { padding-bottom:85px !important }
.pb90 { padding-bottom:90px !important }
.pb95 { padding-bottom:95px !important }
.pb100 { padding-bottom:100px !important }
.pb105 { padding-bottom:105px !important }
.pb110 { padding-bottom:110px !important }
.pb115 { padding-bottom:115px !important }
.pb120 { padding-bottom:120px !important }
.pb125 { padding-bottom:125px !important }
.pb130 { padding-bottom:130px !important }
.pb135 { padding-bottom:135px !important }
.pb140 { padding-bottom:140px !important }
.pb145 { padding-bottom:145px !important }
.pb150 { padding-bottom:150px !important }
.pb155 { padding-bottom:155px !important }
.pb160 { padding-bottom:160px !important }
.pb165 { padding-bottom:165px !important }
.pb170 { padding-bottom:170px !important }
.pb175 { padding-bottom:175px !important }
.pb180 { padding-bottom:180px !important }
.pb185 { padding-bottom:185px !important }
.pb190 { padding-bottom:190px !important }
.pb195 { padding-bottom:195px !important }
.pb200 { padding-bottom:200px !important }
/*___________________________ PADDING-LEFT ______________________________*/

.pl0 { padding-left:0 !important }
.pl1 { padding-left:1px !important }
.pl2 { padding-left:2px !important }
.pl3 { padding-left:3px !important }
.pl4 { padding-left:4px !important }
.pl5 { padding-left:5px !important }
.pl6 { padding-left:6px !important }
.pl7 { padding-left:7px !important }
.pl8 { padding-left:8px !important }
.pl9 { padding-left:9px !important }
.pl10 { padding-left:10px !important }
.pl11 { padding-left:11px !important }
.pl12 { padding-left:12px !important }
.pl13 { padding-left:13px !important }
.pl14 { padding-left:14px !important }
.pl15 { padding-left:15px !important }
.pl16 { padding-left:16px !important }
.pl17 { padding-left:17px !important }
.pl18 { padding-left:18px !important }
.pl19 { padding-left:19px !important }
.pl20 { padding-left:20px !important }
.pl25 { padding-left:25px !important }
.pl30 { padding-left:30px !important }
.pl35 { padding-left:35px !important }
.pl40 { padding-left:40px !important }
.pl45 { padding-left:45px !important }
.pl50 { padding-left:50px !important }
.pl55 { padding-left:55px !important }
.pl60 { padding-left:60px !important }
.pl65 { padding-left:65px !important }
.pl70 { padding-left:70px !important }
.pl75 { padding-left:75px !important }
.pl80 { padding-left:80px !important }
.pl85 { padding-left:85px !important }
.pl90 { padding-left:90px !important }
.pl95 { padding-left:95px !important }
.pl100 { padding-left:100px !important }
.pl105 { padding-left:105px !important }
.pl110 { padding-left:110px !important }
.pl115 { padding-left:115px !important }
.pl120 { padding-left:120px !important }
.pl125 { padding-left:125px !important }
.pl130 { padding-left:130px !important }
.pl135 { padding-left:135px !important }
.pl140 { padding-left:140px !important }
.pl145 { padding-left:145px !important }
.pl150 { padding-left:150px !important }
.pl155 { padding-left:155px !important }
.pl160 { padding-left:160px !important }
.pl165 { padding-left:165px !important }
.pl170 { padding-left:170px !important }
.pl175 { padding-left:175px !important }
.pl180 { padding-left:180px !important }
.pl185 { padding-left:185px !important }
.pl190 { padding-left:190px !important }
.pl195 { padding-left:195px !important }
.pl200 { padding-left:200px !important }
/*___________________________ PADDING ALL ______________________________*/

.pa0 { padding:0 !important }
.pa1 { padding:1px !important }
.pa2 { padding:2px !important }
.pa3 { padding:3px !important }
.pa4 { padding:4px !important }
.pa5 { padding:5px !important }
.pa6 { padding:6px !important }
.pa7 { padding:7px !important }
.pa8 { padding:8px !important }
.pa9 { padding:9px !important }
.pa10 { padding:10px !important }
.pa11 { padding:11px !important }
.pa12 { padding:12px !important }
.pa13 { padding:13px !important }
.pa14 { padding:14px !important }
.pa15 { padding:15px !important }
.pa16 { padding:16px !important }
.pa17 { padding:17px !important }
.pa18 { padding:18px !important }
.pa19 { padding:19px !important }
.pa20 { padding:20px !important }
.pa25 { padding:25px !important }
.pa30 { padding:30px !important }
.pa35 { padding:35px !important }
.pa40 { padding:40px !important }
.pa45 { padding:45px !important }
.pa50 { padding:50px !important }
.pa55 { padding:55px !important }
.pa60 { padding:60px !important }
.pa65 { padding:65px !important }
.pa70 { padding:70px !important }
.pa75 { padding:75px !important }
.pa80 { padding:80px !important }
.pa85 { padding:85px !important }
.pa90 { padding:90px !important }
.pa95 { padding:95px !important }
.pa100 { padding:100px !important }
.pa105 { padding:105px !important }
.pa110 { padding:110px !important }
.pa115 { padding:115px !important }
.pa120 { padding:120px !important }
.pa125 { padding:125px !important }
.pa130 { padding:130px !important }
.pa135 { padding:135px !important }
.pa140 { padding:140px !important }
.pa145 { padding:145px !important }
.pa150 { padding:150px !important }
.pa155 { padding:155px !important }
.pa160 { padding:160px !important }
.pa165 { padding:165px !important }
.pa170 { padding:170px !important }
.pa175 { padding:175px !important }
.pa180 { padding:180px !important }
.pa185 { padding:185px !important }
.pa190 { padding:190px !important }
.pa195 { padding:195px !important }
.pa200 { padding:200px !important }
/*___________________________width ______________________________*/

.wa { width: auto !important }
.w10 { width:10px !important }
.w20 { width:20px !important }
.w25 { width:25px !important }
.w30 { width:30px !important }
.w35 { width:35px !important }
.w40 { width:40px !important }
.w45 { width:45px !important }
.w50 { width:50px !important }
.w55 { width:55px !important }
.w60 { width:60px !important }
.w65 { width:65px !important }
.w70 { width:70px !important }
.w75 { width:75px !important }
.w80 { width:80px !important }
.w85 { width:85px !important }
.w90 { width:90px !important }
.w95 { width:95px !important }
.w100 { width:100px !important }
.w110 { width:110px !important }
.w120 { width:120px !important }
.w130 { width:130px !important }
.w140 { width:140px !important }
.w150 { width:150px !important }
.w160 { width:160px !important }
.w170 { width:170px !important }
.w180 { width:180px !important }
.w190 { width:190px !important }
.w200 { width:200px !important }
.w210 { width:210px !important }
.w220 { width:220px !important }
.w230 { width:230px !important }
.w240 { width:240px !important }
.w250 { width:250px !important }
.w260 { width:260px !important }
.w270 { width:270px !important }
.w280 { width:280px !important }
.w290 { width:290px !important }
.w300 { width:300px !important }
.w310 { width:310px !important }
.w320 { width:320px !important }
.w330 { width:330px !important }
.w340 { width:340px !important }
.w350 { width:350px !important }
.w360 { width:360px !important }
.w370 { width:370px !important }
.w380 { width:380px !important }
.w390 { width:390px !important }
.w400 { width:400px !important }
.w410 { width:410px !important }
.w420 { width:420px !important }
.w430 { width:430px !important }
.w440 { width:440px !important }
.w450 { width:450px !important }
.w460 { width:460px !important }
.w470 { width:470px !important }
.w480 { width:480px !important }
.w490 { width:490px !important }
.w500 { width:500px !important }
.w510 { width:510px !important }
.w520 { width:520px !important }
.w530 { width:530px !important }
.w540 { width:540px !important }
.w550 { width:550px !important }
.w560 { width:560px !important }
.w570 { width:570px !important }
.w580 { width:580px !important }
.w590 { width:590px !important }
.w600 { width:600px !important }
.w610 { width:610px !important }
.w620 { width:620px !important }
.w630 { width:630px !important }
.w640 { width:640px !important }
.w650 { width:650px !important }
.w660 { width:660px !important }
.w670 { width:670px !important }
.w680 { width:680px !important }
.w690 { width:690px !important }
.w700 { width:700px !important }
.w710 { width:710px !important }
.w720 { width:720px !important }
.w730 { width:730px !important }
.w740 { width:740px !important }
.w750 { width:750px !important }
.w760 { width:760px !important }
.w770 { width:770px !important }
.w780 { width:780px !important }
.w790 { width:790px !important }
.w800 { width:800px !important }
.w810 { width:810px !important }
.w820 { width:820px !important }
.w830 { width:830px !important }
.w840 { width:840px !important }
.w850 { width:850px !important }
.w860 { width:860px !important }
.w870 { width:870px !important }
.w880 { width:880px !important }
.w890 { width:890px !important }
.w900 { width:900px !important }
.w910 { width:910px !important }
.w920 { width:920px !important }
.w930 { width:930px !important }
.w940 { width:940px !important }
.w950 { width:950px !important }
.w960 { width:960px !important }
.w970 { width:970px !important }
.w980 { width:980px !important }
.w990 { width:990px !important }
.w1000 { width:1000px !important }
.w1010 { width:1010px !important }
.w1020 { width:1020px !important }
.w1030 { width:1030px !important }
.w1040 { width:1040px !important }
.w1050 { width:1050px !important }
.w1060 { width:1060px !important }
.w1070 { width:1070px !important }
.w1080 { width:1080px !important }
.w1090 { width:1090px !important }
.w1100 { width:1100px !important }
.w1110 { width:1110px !important }
.w1120 { width:1120px !important }
.w1130 { width:1130px !important }
.w1140 { width:1140px !important }
.w1150 { width:1150px !important }
.w1160 { width:1160px !important }
.w1170 { width:1170px !important }
.w1180 { width:1180px !important }
.w1190 { width:1190px !important }
.w1200 { width:1200px !important }
.w1210 { width:1210px !important }
.w1220 { width:1220px !important }
.w1230 { width:1230px !important }
.w1240 { width:1240px !important }
.w1250 { width:1250px !important }
.w1260 { width:1260px !important }
.w1270 { width:1270px !important }
.w1280 { width:1280px !important }
.w1290 { width:1290px !important }
.w1300 { width:1300px !important }
.w1310 { width:1310px !important }
.w1320 { width:1320px !important }
.w1330 { width:1330px !important }
.w1340 { width:1340px !important }
.w1350 { width:1350px !important }
.w1360 { width:1360px !important }
.w1370 { width:1370px !important }
.w1380 { width:1380px !important }
.w1390 { width:1390px !important }
.w1400 { width:1400px !important }
.w1410 { width:1410px !important }
.w1420 { width:1420px !important }
.w1430 { width:1430px !important }
.w1440 { width:1440px !important }
.w1450 { width:1450px !important }
.w1460 { width:1460px !important }
.w1470 { width:1470px !important }
.w1480 { width:1480px !important }
.w1490 { width:1490px !important }
.w1500 { width:1500px !important }
.w1510 { width:1510px !important }
.w1520 { width:1520px !important }
.w1530 { width:1530px !important }
.w1540 { width:1540px !important }
.w1550 { width:1550px !important }
.w1560 { width:1560px !important }
.w1570 { width:1570px !important }
.w1580 { width:1580px !important }
.w1590 { width:1590px !important }
.w1600 { width:1600px !important }
.w100p { width:100% !important; }
.w66p { width:66% !important; }
.w50p { width:49.5% !important; }
.w33p { width:33% !important; }
.w25p { width:24.5% !important; }
.w20p { width:19.5% !important; }
.w10p { width:9.5% !important; }

/*___________________________ HEIGHT ______________________________*/

.ha { height: auto !important }
.h10 { height:10px !important }
.h20 { height:20px !important }
.h25 { height:25px !important }
.h30 { height:30px !important }
.h35 { height:35px !important }
.h40 { height:40px !important }
.h45 { height:45px !important }
.h50 { height:50px !important }
.h55 { height:55px !important }
.h60 { height:60px !important }
.h65 { height:65px !important }
.h70 { height:70px !important }
.h75 { height:75px !important }
.h80 { height:80px !important }
.h85 { height:85px !important }
.h90 { height:90px !important }
.h95 { height:95px !important }
.h100 { height:100px !important }
.h110 { height:110px !important }
.h120 { height:120px !important }
.h130 { height:130px !important }
.h140 { height:140px !important }
.h150 { height:150px !important }
.h160 { height:160px !important }
.h170 { height:170px !important }
.h180 { height:180px !important }
.h190 { height:190px !important }
.h200 { height:200px !important }
.h210 { height:210px !important }
.h220 { height:220px !important }
.h230 { height:230px !important }
.h240 { height:240px !important }
.h250 { height:250px !important }
.h260 { height:260px !important }
.h270 { height:270px !important }
.h280 { height:280px !important }
.h290 { height:290px !important }
.h300 { height:300px !important }
.h310 { height:310px !important }
.h320 { height:320px !important }
.h330 { height:330px !important }
.h340 { height:340px !important }
.h350 { height:350px !important }
.h360 { height:360px !important }
.h370 { height:370px !important }
.h380 { height:380px !important }
.h390 { height:390px !important }
.h400 { height:400px !important }
.h410 { height:410px !important }
.h420 { height:420px !important }
.h430 { height:430px !important }
.h440 { height:440px !important }
.h450 { height:450px !important }
.h460 { height:460px !important }
.h470 { height:470px !important }
.h480 { height:480px !important }
.h490 { height:490px !important }
.h500 { height:500px !important }
.h510 { height:510px !important }
.h520 { height:520px !important }
.h530 { height:530px !important }
.h540 { height:540px !important }
.h550 { height:550px !important }
.h560 { height:560px !important }
.h570 { height:570px !important }
.h580 { height:580px !important }
.h590 { height:590px !important }
.h600 { height:600px !important }
.h610 { height:610px !important }
.h620 { height:620px !important }
.h630 { height:630px !important }
.h640 { height:640px !important }
.h650 { height:650px !important }
.h660 { height:660px !important }
.h670 { height:670px !important }
.h680 { height:680px !important }
.h690 { height:690px !important }
.h700 { height:700px !important }
.h710 { height:710px !important }
.h720 { height:720px !important }
.h730 { height:730px !important }
.h740 { height:740px !important }
.h750 { height:750px !important }
.h760 { height:760px !important }
.h770 { height:770px !important }
.h780 { height:780px !important }
.h790 { height:790px !important }
.h800 { height:800px !important }
.h810 { height:810px !important }
.h820 { height:820px !important }
.h830 { height:830px !important }
.h840 { height:840px !important }
.h850 { height:850px !important }
.h860 { height:860px !important }
.h870 { height:870px !important }
.h880 { height:880px !important }
.h890 { height:890px !important }
.h900 { height:900px !important }
.h910 { height:910px !important }
.h920 { height:920px !important }
.h930 { height:930px !important }
.h940 { height:940px !important }
.h950 { height:950px !important }
.h960 { height:960px !important }
.h970 { height:970px !important }
.h980 { height:980px !important }
.h990 { height:990px !important }
.h1000 { height:1000px !important }
.h100p { height:100% }

/* MIN HEIGHTS */

.min-h10 { min-height:10px !important }
.min-h20 { min-height:20px !important }
.min-h25 { min-height:25px !important }
.min-h30 { min-height:30px !important }
.min-h35 { min-height:35px !important }
.min-h40 { min-height:40px !important }
.min-h45 { min-height:45px !important }
.min-h50 { min-height:50px !important }
.min-h55 { min-height:55px !important }
.min-h60 { min-height:60px !important }
.min-h65 { min-height:65px !important }
.min-h70 { min-height:70px !important }
.min-h75 { min-height:75px !important }
.min-h80 { min-height:80px !important }
.min-h85 { min-height:85px !important }
.min-h90 { min-height:90px !important }
.min-h95 { min-height:95px !important }
.min-h100 { min-height:100px !important }
.min-h110 { min-height:110px !important }
.min-h120 { min-height:120px !important }
.min-h130 { min-height:130px !important }
.min-h140 { min-height:140px !important }
.min-h150 { min-height:150px !important }
.min-h160 { min-height:160px !important }
.min-h170 { min-height:170px !important }
.min-h180 { min-height:180px !important }
.min-h190 { min-height:190px !important }
.min-h200 { min-height:200px !important }
.min-h210 { min-height:210px !important }
.min-h220 { min-height:220px !important }
.min-h230 { min-height:230px !important }
.min-h240 { min-height:240px !important }
.min-h250 { min-height:250px !important }
.min-h260 { min-height:260px !important }
.min-h270 { min-height:270px !important }
.min-h280 { min-height:280px !important }
.min-h290 { min-height:290px !important }
.min-h300 { min-height:300px !important }
.min-h310 { min-height:310px !important }
.min-h320 { min-height:320px !important }
.min-h330 { min-height:330px !important }
.min-h340 { min-height:340px !important }
.min-h350 { min-height:350px !important }
.min-h360 { min-height:360px !important }
.min-h370 { min-height:370px !important }
.min-h380 { min-height:380px !important }
.min-h390 { min-height:390px !important }
.min-h400 { min-height:400px !important }
.min-h410 { min-height:410px !important }
.min-h420 { min-height:420px !important }
.min-h430 { min-height:430px !important }
.min-h440 { min-height:440px !important }
.min-h450 { min-height:450px !important }
.min-h460 { min-height:460px !important }
.min-h470 { min-height:470px !important }
.min-h480 { min-height:480px !important }
.min-h490 { min-height:490px !important }
.min-h500 { min-height:500px !important }
.min-h510 { min-height:510px !important }
.min-h520 { min-height:520px !important }
.min-h530 { min-height:530px !important }
.min-h540 { min-height:540px !important }
.min-h550 { min-height:550px !important }
.min-h560 { min-height:560px !important }
.min-h570 { min-height:570px !important }
.min-h580 { min-height:580px !important }
.min-h590 { min-height:590px !important }
.min-h600 { min-height:600px !important }
.min-h610 { min-height:610px !important }
.min-h620 { min-height:620px !important }
.min-h630 { min-height:630px !important }
.min-h640 { min-height:640px !important }
.min-h650 { min-height:650px !important }
.min-h660 { min-height:660px !important }
.min-h670 { min-height:670px !important }
.min-h680 { min-height:680px !important }
.min-h690 { min-height:690px !important }
.min-h700 { min-height:700px !important }
.min-h710 { min-height:710px !important }
.min-h720 { min-height:720px !important }
.min-h730 { min-height:730px !important }
.min-h740 { min-height:740px !important }
.min-h750 { min-height:750px !important }
.min-h760 { min-height:760px !important }
.min-h770 { min-height:770px !important }
.min-h780 { min-height:780px !important }
.min-h790 { min-height:790px !important }
.min-h800 { min-height:800px !important }
.min-h810 { min-height:810px !important }
.min-h820 { min-height:820px !important }
.min-h830 { min-height:830px !important }
.min-h840 { min-height:840px !important }
.min-h850 { min-height:850px !important }
.min-h860 { min-height:860px !important }
.min-h870 { min-height:870px !important }
.min-h880 { min-height:880px !important }
.min-h890 { min-height:890px !important }
.min-h900 { min-height:900px !important }
.min-h910 { min-height:910px !important }
.min-h920 { min-height:920px !important }
.min-h930 { min-height:930px !important }
.min-h940 { min-height:940px !important }
.min-h950 { min-height:950px !important }
.min-h960 { min-height:960px !important }
.min-h970 { min-height:970px !important }
.min-h980 { min-height:980px !important }
.min-h990 { min-height:990px !important }
.min-h1000 { min-height:1000px !important }
.min-h100p { min-height:100% }

/* max HEIGHTS */

.max-h10 { max-height:10px !important }
.max-h20 { max-height:20px !important }
.max-h25 { max-height:25px !important }
.max-h30 { max-height:30px !important }
.max-h35 { max-height:35px !important }
.max-h40 { max-height:40px !important }
.max-h45 { max-height:45px !important }
.max-h50 { max-height:50px !important }
.max-h55 { max-height:55px !important }
.max-h60 { max-height:60px !important }
.max-h65 { max-height:65px !important }
.max-h70 { max-height:70px !important }
.max-h75 { max-height:75px !important }
.max-h80 { max-height:80px !important }
.max-h85 { max-height:85px !important }
.max-h90 { max-height:90px !important }
.max-h95 { max-height:95px !important }
.max-h100 { max-height:100px !important }
.max-h110 { max-height:110px !important }
.max-h120 { max-height:120px !important }
.max-h130 { max-height:130px !important }
.max-h140 { max-height:140px !important }
.max-h150 { max-height:150px !important }
.max-h160 { max-height:160px !important }
.max-h170 { max-height:170px !important }
.max-h180 { max-height:180px !important }
.max-h190 { max-height:190px !important }
.max-h200 { max-height:200px !important }
.max-h210 { max-height:210px !important }
.max-h220 { max-height:220px !important }
.max-h230 { max-height:230px !important }
.max-h240 { max-height:240px !important }
.max-h250 { max-height:250px !important }
.max-h260 { max-height:260px !important }
.max-h270 { max-height:270px !important }
.max-h280 { max-height:280px !important }
.max-h290 { max-height:290px !important }
.max-h300 { max-height:300px !important }
.max-h310 { max-height:310px !important }
.max-h320 { max-height:320px !important }
.max-h330 { max-height:330px !important }
.max-h340 { max-height:340px !important }
.max-h350 { max-height:350px !important }
.max-h360 { max-height:360px !important }
.max-h370 { max-height:370px !important }
.max-h380 { max-height:380px !important }
.max-h390 { max-height:390px !important }
.max-h400 { max-height:400px !important }
.max-h410 { max-height:410px !important }
.max-h420 { max-height:420px !important }
.max-h430 { max-height:430px !important }
.max-h440 { max-height:440px !important }
.max-h450 { max-height:450px !important }
.max-h460 { max-height:460px !important }
.max-h470 { max-height:470px !important }
.max-h480 { max-height:480px !important }
.max-h490 { max-height:490px !important }
.max-h500 { max-height:500px !important }
.max-h510 { max-height:510px !important }
.max-h520 { max-height:520px !important }
.max-h530 { max-height:530px !important }
.max-h540 { max-height:540px !important }
.max-h550 { max-height:550px !important }
.max-h560 { max-height:560px !important }
.max-h570 { max-height:570px !important }
.max-h580 { max-height:580px !important }
.max-h590 { max-height:590px !important }
.max-h600 { max-height:600px !important }
.max-h610 { max-height:610px !important }
.max-h620 { max-height:620px !important }
.max-h630 { max-height:630px !important }
.max-h640 { max-height:640px !important }
.max-h650 { max-height:650px !important }
.max-h660 { max-height:660px !important }
.max-h670 { max-height:670px !important }
.max-h680 { max-height:680px !important }
.max-h690 { max-height:690px !important }
.max-h700 { max-height:700px !important }
.max-h710 { max-height:710px !important }
.max-h720 { max-height:720px !important }
.max-h730 { max-height:730px !important }
.max-h740 { max-height:740px !important }
.max-h750 { max-height:750px !important }
.max-h760 { max-height:760px !important }
.max-h770 { max-height:770px !important }
.max-h780 { max-height:780px !important }
.max-h790 { max-height:790px !important }
.max-h800 { max-height:800px !important }
.max-h810 { max-height:810px !important }
.max-h820 { max-height:820px !important }
.max-h830 { max-height:830px !important }
.max-h840 { max-height:840px !important }
.max-h850 { max-height:850px !important }
.max-h860 { max-height:860px !important }
.max-h870 { max-height:870px !important }
.max-h880 { max-height:880px !important }
.max-h890 { max-height:890px !important }
.max-h900 { max-height:900px !important }
.max-h910 { max-height:910px !important }
.max-h920 { max-height:920px !important }
.max-h930 { max-height:930px !important }
.max-h940 { max-height:940px !important }
.max-h950 { max-height:950px !important }
.max-h960 { max-height:960px !important }
.max-h970 { max-height:970px !important }
.max-h980 { max-height:980px !important }
.max-h990 { max-height:990px !important }
.max-h1000 { max-height:1000px !important }
.max-h100p { max-height:100% }

/*___________________________ BG COLOR ______________________________*/

.bg-yellow { background-color:#FC0 !important; }
.bg-blue { background-color:#0055aa !important; }
.bg-teal { background-color:#077AAB !important; }
.bg-red { background-color:#D70000 !important; }
.bg-green { background-color:#00A200 !important; }
.bg-pink { background-color:pink !important; }
.bg-black { background-color:black !important; }
.bg-white { background-color:white !important; }
.bg-gray { background-color:#bbb !important }
.bg-mint { background-color: #E0F2E7 !important }
.bg-blue-gray { background-color:#E6E7E8 !important; }
.bg-gray-blue { background-color:#334279 !important; }
.bg-aaa { background-color:#aaa !important; }
.bg-bbb { background-color:#bbb !important; }
.bg-ccc { background-color:#ccc !important; }
.bg-ddd { background-color:#ddd !important; }
.bg-eee { background-color:#eee !important; }
.bg-111 { background-color:#111 !important; }
.bg-222 { background-color:#222 !important; }
.bg-333 { background-color:#333 !important; }
.bg-444 { background-color:#444 !important; }
.bg-555 { background-color:#555 !important; }
.bg-666 { background-color:#666 !important; }
.bg-777 { background-color:#777 !important; }
.bg-888 { background-color:#888 !important; }
.bg-999 { background-color:#999 !important; }
.bg-000b40 { background-color:#000b40 !important; }
.bg-ca0000 { background-color:#ca0000 !important; }
.bin { background-image:none !important }
.opa-hover:hover { opacity: .7 !important; transition: all .2s }
/*___________________________ TEXT COLOR ______________________________*/

.text-white { color:#fff!important }
.text-fff { color:#fff!important }
.text-black { color:#000!important }
.text-000 { color:#000!important }
.text-orange { color:#F90 !important }
.text-teal { color:#077AAB !important; }
.text-green { color:#00A200 !important }
.text-blue { color:#4B7AB6 !important }
.text-light-blue { color:#09C !important }
.text-red { color:#AE0000!important }
.text-000b40 { color:#000b40 !important }
.text-ca0000 { color:#ca0000 !important }
.text-eee { color:#eee !important }
.text-ddd { color:#ddd !important }
.text-ccc { color:#ccc !important }
.text-bbb { color:#bbb !important }
.text-aaa { color:#aaa !important }
.text-222 { color:#222 !important }
.text-333 { color:#333 !important }
.text-444 { color:#444 !important }
.text-555 { color:#555 !important }
.text-666 { color:#666 !important }
.text-777 { color:#777 !important }
.text-888 { color:#888 !important }
.text-999 { color:#999 !important }
/*___________________________ TEXT SIZE ______________________________*/

.text5 { font-size:5px !important }
.text6 { font-size:6px !important }
.text7 { font-size:7px !important }
.text8 { font-size:8px !important }
.text9 { font-size:9px !important }
.text10 { font-size:10px !important }
.text11 { font-size:11px !important }
.text12 { font-size:12px !important }
.text13 { font-size:13px !important }
.text14 { font-size:14px !important }
.text15 { font-size:15px !important }
.text16 { font-size:16px !important }
.text17 { font-size:17px !important }
.text18 { font-size:18px !important }
.text19 { font-size:19px !important }
.text20 { font-size:20px !important }
.text21 { font-size:21px !important }
.text22 { font-size:22px !important }
.text23 { font-size:23px !important }
.text24 { font-size:24px !important }
.text25 { font-size:25px !important }
.text26 { font-size:26px !important }
.text27 { font-size:27px !important }
.text28 { font-size:28px !important }
.text29 { font-size:29px !important }
.text30 { font-size:30px !important }
.text31 { font-size:31px !important }
.text32 { font-size:32px !important }
.text33 { font-size:33px !important }
.text34 { font-size:34px !important }
.text35 { font-size:35px !important }
.text36 { font-size:36px !important }
.text42 { font-size:42px !important }
.text48 { font-size:48px !important }
.text60 { font-size:60px !important }
.text72 { font-size:72px !important }
.text100 { font-size:100px !important }
.text120 { font-size:120px !important }
/*___________________________FLOATS______________________________*/

.float-left { float:left !important }
.float-right { float:right !important }
.float-bottom { position:absolute; bottom:10px }
.relative { position:relative }
.absolute { position:absolute }
.clear-left { clear:left }
.clear-right { clear:right }
.clear-both { clear:both }
.clear-float:before, .clear-float:after {
 content: ".";
 display: block;
 overflow: hidden;
 visibility: hidden;
 font-size: 0;
 line-height: 0;
 width: 0;
 height: 0;
}
/*___________________________DISPLAY______________________________*/

.dib { display:inline-block !important; zoom:1 !important; *display:inline !important;
vertical-align:top !important; }
.hide { display:none !important }
.show { display:block !important }
.vab { vertical-align:bottom !important }
.vam { vertical-align:middle !important }
.vat { vertical-align:top !important }
.vabase { vertical-align:baseline !important }
.block { display:block !important }
.invisible { visibility:hidden; }
/*___________________________text align______________________________*/

.tal { text-align:left !important }
.tar { text-align:right !important }
.tac { text-align:center !important }
/*___________________________ silver borders ______________________________*/

.bl { border-left:1px solid #dddddd !important }
.br { border-right:1px solid #dddddd !important }
.bt { border-top:1px solid #dddddd !important }
.bb { border-bottom:1px solid #dddddd !important }
.ba { border:1px solid #dddddd !important }
.bn { border:0 !important; border:none !important; outline:none !important }
/*___________________________MISC______________________________*/

.nowrap { white-space:nowrap !important }
.lh06 { line-height: .6em !important }
.lh07 { line-height: .7em !important }
.lh08 { line-height: .8em !important }
.lh09 { line-height: .9em !important }
.lh1 { line-height: 1em !important }
.lh11 { line-height: 1.1em !important }
.lh12 { line-height: 1.2em !important }
.lh13 { line-height: 1.3em !important }
.lh14 { line-height: 1.4em !important }
.lh15 { line-height: 1.5em !important }
.lh16 { line-height: 1.6em !important }
.lh17 { line-height: 1.7em !important }
.lh18 { line-height: 1.8em !important }
.ofh { overflow:hidden !important }
.ofs { overflow:scroll !important }
.ofa { overflow:auto !important }
.ofya { overflow-y:auto !important; }
.ofys { overflow-y:scroll !important; }

/*scroll boxes */
.scroll-200 {
	height:200px;
	overflow:auto;	
}
.scroll-300 {
	height:300px;
	overflow:auto;	
}
.scroll-400 {
	height:400px;
	overflow:auto;	
}
.scroll-450 {
	height:450px;
	overflow:auto;	
}
.scroll-500 {
	height:500px;
	overflow:auto;	
}.scroll-550 {
	height:550px;
	overflow:auto;	
}
.scroll-600 {
	height:600px;
	overflow:auto;	
}

/* border radius 10 */

.br10 { -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; }
.br9 { -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; }
.br8 { -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
.br7 { -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; }
.br6 { -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
.br5 { -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.br4 { -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.br3 { -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
/* font styles */

.normal { font-weight: normal; font-stretch:normal; white-space:normal; }
.underline { text-decoration:underline !important }
.strike { text-decoration:line-through !important }
.bold { font-weight:bold !important }
.italics { font-style:italic !important }
/* LIST BULLETS */

.squares { list-style:none !important; list-style-type:square !important; }
.discs { list-style:none !important; list-style-type:disc !important; }
.no-style { list-style:none !important; list-style-type:none !important; }